footer {
  padding: 50px 20px;
  background-color: #9c89b8;
}
footer .footer-main .col {
  padding: 0;
}
footer .footer-main .footer-heading {
  text-align: center;
}
footer .footer-main .footer-heading img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

footer .footer-main .footer-col span {
  color: #f0a6ca;
  font-weight: bold;
  border-bottom: 1px solid #f0a6ca;
  font-size: 1.2rem;
}
footer .footer-main .footer-col p,
footer .footer-main .footer-col ul {
  margin-top: 1rem;
  margin-bottom: 0;
  color: #353131d7;
}
footer .footer-main .footer-col ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
footer .footer-main .footer-col.links a {
  margin: 0.8rem 0;
  transition: 0.5s;
}
footer .footer-main .footer-col.links a svg {
  font-size: 3rem;
  transition: 0.5s;
}
footer .footer-main .footer-col.links a:hover svg {
  font-size: 3rem;
  color: #fff;
}

footer .footer-main .footer-col .footer-link li {
  margin-bottom: 0.8rem;
  transition: 0.3s;
  font-size: 1rem;
}
footer .footer-main .footer-col .footer-link a::before {
  content: "\f101";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
footer .footer-main .footer-col .footer-link li:hover,
footer .footer-main .footer-col.links a:hover {
  color: #fff !important;
}
footer .footer-main .footer-col .footer-link li:hover {
  margin-left: 6px;
}

@media only screen and (max-width: 700px) {
  footer .footer-main .container .row:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 2rem;
  }
}
