.services {
  padding: 50px 0;
  background-color: #fff;
}
.services .titile {
  text-align: center;
}
.services .titile .head {
  background-color: #efc3e6;
  text-align: center;
  padding: 15px 0;
  border-radius: 100%;
  width: 5rem;
  margin: auto;
  margin-bottom: 1rem;
  transition: 0.3s;
  animation: opcity 3s ease infinite;
}
.services .titile svg {
  color: #ab44b1;
  font-size: 3rem;
}
.services .titile p {
  color: #0e0d0d;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 0;
}
@keyframes opcity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 700px) {
  .services .row {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }
}
