/* .swiper {
  width: 100%;
  height: 100%;
} */

.swiper-slide {
  text-align: center;
  font-size: 18px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  margin: auto;
}
.swiper-pagination-bullet-active {
  background-color: #9d00ff !important;
}
.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}
