.add-product {
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 1rem;

    .form-control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-body-color);
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
        border: var(--bs-border-width) solid var(--bs-border-color);
        appearance: none;
        border-radius: var(--bs-border-radius);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .form-group .btn {
        background-color: black;
        color: #fff;
        font-weight: bold;
        margin: auto;
        display: block;
    }
}

.heading.add-prodduct {
    text-align: center;
    color: black;
    width: 100%;
}